<fc:component>
    <fc:param name="title" type="string" optional="1" default=""/>
    <fc:param name="text" type="string" optional="1" default=""/>
    <fc:param name="image" type="object" optional="1" default="{f:variable(value: 0)}"/>
    <fc:param name="mediaPosition" type="string" optional="1" default="left"/>

    <fc:renderer>
        <div class="mai-media-text mai-media-text--{mediaPosition}">
            <f:if condition="{image}">
                <div class="mai-media-text__media"><theme:atom.image image="{image}" alt="{title}"/></div>
            </f:if>
            <div class="mai-media-text__body">
                <f:if condition="{title}"><theme:atom.heading level="2" text="{title}"/></f:if>
                <f:if condition="{text}">{text -> f:format.html()}</f:if>
            </div>
        </div>
    </fc:renderer>
</fc:component>
