<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Single tab panel. Note: the tab BUTTON is rendered in Organism/Tabs.
    item columns: tab_title, content
    Arguments: item, index, parentUid, isSelected
</f:comment>
<section role="tabpanel"
         id="tabpanel-{parentUid}-{index}"
         aria-labelledby="tab-{parentUid}-{index}"
         tabindex="0"
         hidden="{f:if(condition: isSelected, then: '', else: 'hidden')}"
         class="mai-tabs__panel">
    {item.data.content -> f:format.html()}
</section>
</html>
