<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:layout name="Module" />

<f:section name="Before">
    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/backend/recordlist.js',
            1: '@typo3/backend/record-download-button.js',
            2: '@typo3/backend/record-search.js',
            3: '@typo3/backend/ajax-data-handler.js',
            4: '@typo3/backend/column-selector-button.js',
            5: '@typo3/backend/multi-record-selection.js',
            6: '@typo3/backend/clipboard-panel.js',
            7: '@typo3/backend/context-menu.js'
        }"
    />
</f:section>

<f:section name="Content">
    <h1>{moduleTitle}</h1>

    <f:format.raw>{searchBoxHtml}</f:format.raw>
    <f:format.raw>{tableListHtml}</f:format.raw>
    <f:format.raw>{clipboardHtml}</f:format.raw>
</f:section>

</html>
