<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    Semantic <figure> wrapper with <figcaption>.
    Arguments: image (FAL), alt, caption, class, id, breakpoints, sizes
</f:comment>
<mai:image.figure caption="{caption}" class="mai-figure {class}" id="{id}">
    <f:if condition="{breakpoints}">
        <f:then>
            <mai:image.responsiveImage image="{image}"
                                       breakpoints="{breakpoints}"
                                       sizes="{sizes}"
                                       alt="{alt}"/>
        </f:then>
        <f:else>
            <mai:image.picture image="{image}" alt="{alt}"/>
        </f:else>
    </f:if>
</mai:image.figure>
</html>
