<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    Generic image atom. Pass breakpoints + sizes to use responsiveImage;
    otherwise falls back to picture (auto srcsets, no required args).
</f:comment>
<f:if condition="{breakpoints}">
    <f:then>
        <mai:image.responsiveImage image="{image}"
                                   breakpoints="{breakpoints}"
                                   sizes="{sizes}"
                                   alt="{alt}"
                                   class="mai-image {class}"/>
    </f:then>
    <f:else>
        <mai:image.picture image="{image}"
                           alt="{alt}"
                           class="mai-image {class}"/>
    </f:else>
</f:if>
</html>
