<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    Accessible link. Uses TYPO3 typolink for href/target/rel resolution
    when `link` is a typolink parameter string; falls back to raw `href`.
    Arguments: link (typolink parameter), href, label, target, rel, ariaLabel, class
</f:comment>
<f:if condition="{link}">
    <f:then>
        <f:link.typolink parameter="{link}"
                         class="mai-link {class}"
                         additionalAttributes="{'aria-label': ariaLabel}">{label}</f:link.typolink>
    </f:then>
    <f:else>
        <a href="{href}"
           class="mai-link {class}"
           target="{target}"
           rel="{f:if(condition: '{target} == \'_blank\'', then: 'noopener noreferrer', else: rel)}"
           aria-label="{ariaLabel}">{label}</a>
    </f:else>
</f:if>
</html>
