<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    Unified video renderer (self-hosted / YouTube / Vimeo).
    Arguments: file (FAL), youtubeId, vimeoId, poster (FAL), title, type, class
</f:comment>
<mai:video.video file="{file}"
                 youtubeId="{youtubeId}"
                 vimeoId="{vimeoId}"
                 poster="{poster}"
                 title="{title}"
                 type="{f:if(condition: type, then: type, else: 'content')}"
                 class="mai-video {class}"/>
</html>
