<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         backupGlobals="true"
         bootstrap="Tests/Functional/FunctionalTestsBootstrap.php"
         cacheDirectory=".phpunit.cache"
         cacheResult="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
          failOnDeprecation="false"
         failOnNotice="true"
         failOnRisky="true"
         failOnWarning="true"
         requireCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="Functional">
            <directory>Tests/Functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <env name="TYPO3_CONTEXT" value="Testing"/>
        <env name="typo3DatabaseDriver" value="mysqli"/>
        <env name="typo3DatabaseHost" value="db"/>
        <env name="typo3DatabaseUsername" value="db"/>
        <env name="typo3DatabasePassword" value="db"/>
        <env name="typo3DatabasePort" value="3306"/>
        <env name="typo3DatabaseName" value="typo3"/>
    </php>
</phpunit>
