<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"  xmlns:mai="http://typo3.org/ns/Maispace/MaispaceAssets/ViewHelpers"  data-namespace-typo3-fluid="true">
<f:layout name="Page/Default" />

<f:section name="Body">
    <mai:scss
        src="EXT:theme/Resources/Private/StyleSheets/bundle.scss"
        identifier="maispace-theme-bundle"
        priority="1"
        deferred="false"
        minify="1"
        integrity="true"
    />
    <f:asset.css identifier="test">
        * {
            border: 1px solid red;
        }
    </f:asset.css>
    <f:render partial="Page/Header" arguments="{data: data, settings: settings, menuMain: menuMain}" />

    <main id="main-content" class="container section">
        <f:if condition="{settings.layout.sidebar}">
            <f:then>
                <div class="sidebar-layout">
                    <div class="main-grid">
                        <f:cObject typoscriptObjectPath="lib.content" />
                    </div>
                    <aside class="sidebar">
                        <f:cObject typoscriptObjectPath="lib.sidebar" />
                    </aside>
                </div>
            </f:then>
            <f:else>
                <div class="main-grid">
                    <f:cObject typoscriptObjectPath="lib.content" />
                </div>
            </f:else>
        </f:if>
    </main>

    <f:render partial="Page/Footer" arguments="{data: data, settings: settings}" />
</f:section>
</html>
