
<f:debug>{_all}</f:debug>
<f:cObject typoscriptObjectPath="lib.templates.columns.popovers" />
<f:cObject typoscriptObjectPath="lib.templates.columns.navbar" />
<f:cObject typoscriptObjectPath="lib.templates.columns.beforeContent" />
<f:cObject typoscriptObjectPath="lib.templates.columns.content" />
<f:cObject typoscriptObjectPath="lib.templates.columns.afterContent" />
<f:cObject typoscriptObjectPath="lib.templates.columns.footer" />
<f:cObject typoscriptObjectPath="lib.templates.columns.hidden" />
