<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<mai:asset.css identifier="mai-theme-main"
               src="EXT:mai_theme/Resources/Public/Scss/main.scss"
               priority="1"/>
<mai:asset.css identifier="mai-theme-bundle"
               src="EXT:mai_theme/Resources/Private/StyleSheets/bundle.scss"
               priority="2"/>
<main class="mai-page mai-page--landing">
    <f:if condition="{hero}">
        <div class="mai-page__hero"><f:cObject typoscriptObjectPath="lib.templates.columns.hero"/></div>
    </f:if>
    <div class="mai-page__content"><f:cObject typoscriptObjectPath="lib.templates.columns.content"/></div>
</main>
</html>
