<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:argument name="mainLabel" type="string" optional="{true}" />
<f:argument name="navLabel" type="string" optional="{true}" />
<mai:asset.css identifier="mai-skip-links"
               src="EXT:mai_theme/Resources/Public/Scss/skip-links.scss"
               priority="1"/>

<div class="mai-skip-links">
    <a class="mai-skip-link" href="#main" data-testid="skip-link">
        {f:if(condition: mainLabel, then: mainLabel, else: '{f:translate(key: \'skip_links.content\', extensionName: \'mai_theme\')}')}
    </a>
    <a class="mai-skip-link" href="#main-nav" data-testid="skip-link">
        {f:if(condition: navLabel, then: navLabel, else: '{f:translate(key: \'skip_links.navigation\', extensionName: \'mai_theme\')}')}
    </a>
</div>
</html>
