<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:argument name="identifier" type="string" optional="{false}" />
<f:argument name="class" type="string" optional="{true}" />
<f:argument name="size" type="string" optional="{true}" default="1em" />
<f:argument name="label" type="string" optional="{true}" />
<f:if condition="{identifier}">
    <mai:svg.icon
        identifier="mai-theme-content-{identifier}"
        source="EXT:mai_theme/Resources/Public/Icons/Content/{identifier}.svg"
        class="mai-icon {class}"
        size="{size}"
        label="{label}"
    />
</f:if>
</html>
