<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:argument name="data" type="array" optional="{false}" />
<f:argument name="class" type="string" optional="{true}" />
<f:argument name="body" type="string" optional="{true}" />
<article class="mai-card {class}"
         id="{f:if(condition: data.tx_maitheme_anchor, then: data.tx_maitheme_anchor)}"
         style="<f:if condition="{data.tx_maitheme_bg_color}">--local-bg: var(--mai-color-{data.tx_maitheme_bg_color});</f:if><f:if condition="{data.tx_maitheme_text_color}">--local-fg: var(--mai-color-{data.tx_maitheme_text_color});</f:if><f:if condition="{data.tx_maitheme_border_radius}">--local-radius: var(--mai-layout-radius);</f:if><f:if condition="{data.tx_maitheme_shadow}">--local-shadow: var(--mai-shadow-{data.tx_maitheme_shadow});</f:if><f:if condition="{data.tx_maitheme_opacity}">--local-opacity: {data.tx_maitheme_opacity};</f:if>">
    <f:render section="body"/>
    <f:if condition="{body}">{body -> f:format.raw()}</f:if>
</article>
</html>
