<fc:component>
    <fc:param name="level" type="integer" optional="1" default="2"/>
    <fc:param name="text" type="string"/>
    <fc:param name="class" type="string" optional="1" default=""/>

    <fc:renderer>
        <f:switch expression="{level}">
            <f:case value="1"><h1 class="mai-heading mai-heading--1 {class}">{text}</h1></f:case>
            <f:case value="2"><h2 class="mai-heading mai-heading--2 {class}">{text}</h2></f:case>
            <f:case value="3"><h3 class="mai-heading mai-heading--3 {class}">{text}</h3></f:case>
            <f:case value="4"><h4 class="mai-heading mai-heading--4 {class}">{text}</h4></f:case>
            <f:defaultCase><p class="mai-heading {class}">{text}</p></f:defaultCase>
        </f:switch>
    </fc:renderer>
</fc:component>
