<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<aside class="mai-alert mai-alert--{f:if(condition: data.tx_maitheme_variant, then: data.tx_maitheme_variant, else: 'info')}"
       role="alert"
       data-ce-uid="{data.uid}"
       {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <div class="mai-alert__inner">
        <f:if condition="{data.header}">
            <p class="mai-alert__title">{data.header}</p>
        </f:if>
        <f:if condition="{data.bodytext}">
            <div class="mai-alert__body">{data.bodytext}</div>
        </f:if>
    </div>
</aside>
</html>
