<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<f:variable name="bodytext" value="{record -> f:render.text(field: 'bodytext')}" />
<section class="mai-banner"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{assets}">
        <div class="mai-banner__media">
            <mai:image.picture image="{assets.0}"
                               alt="{assets.0.properties.alternative}"
                               elementUid="{data.uid}"
                               critical="auto"
                               width="1600"
                               sizes="100vw"
                               class="mai-banner__image"/>
        </div>
    </f:if>
    <div class="mai-banner__content">
        <f:if condition="{header}">
            <f:render partial="Atom/Heading" arguments="{level: data.header_layout, text: header, class: 'mai-banner__title'}"/>
        </f:if>
        <f:if condition="{bodytext}">
            <div class="mai-banner__body">{bodytext}</div>
        </f:if>
        <f:if condition="{data.tx_maitheme_link}">
            <f:link.typolink parameter="{data.tx_maitheme_link}" class="button button--primary">
                {f:if(condition: data.tx_maitheme_link_text, then: data.tx_maitheme_link_text, else: 'Mehr erfahren')}
            </f:link.typolink>
        </f:if>
    </div>
</section>
</html>
