<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<section class="mai-bentobox" data-ce-uid="{data.uid}"{f:if(condition: data.tx_maitheme_anchor_id, then: ' id="{data.tx_maitheme_anchor_id}"', else: ' id="c{data.uid}"')}>
    <f:mark.contentArea colPos="200" txContainerParent="{data.uid}">
        <f:for each="{children_200}" as="child">{child.renderedContent -> f:format.raw()}</f:for>
    </f:mark.contentArea>
</section>
</html>
