<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<section class="mai-button-block" data-ce-uid="{data.uid}"{f:if(condition: data.tx_maitheme_anchor_id, then: ' id="{data.tx_maitheme_anchor_id}"', else: ' id="c{data.uid}"')}>
    <f:if condition="{data.tx_maitheme_link}">
        <f:then>
            <f:link.typolink parameter="{data.tx_maitheme_link}"
                             class="mai-button mai-button--{f:if(condition: data.tx_maitheme_button_style, then: data.tx_maitheme_button_style, else: 'primary')} mai-button--size-{f:if(condition: data.tx_maitheme_button_size, then: data.tx_maitheme_button_size, else: 'md')}"
                             additionalAttributes="{'aria-label': data.tx_maitheme_aria_label}">{header}</f:link.typolink>
        </f:then>
        <f:else>
            <button type="button"
                    class="mai-button mai-button--{f:if(condition: data.tx_maitheme_button_style, then: data.tx_maitheme_button_style, else: 'primary')} mai-button--size-{f:if(condition: data.tx_maitheme_button_size, then: data.tx_maitheme_button_size, else: 'md')}"
                    aria-label="{data.tx_maitheme_aria_label}">{header}</button>
        </f:else>
    </f:if>
</section>
</html>
