<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<figure class="mai-codeblock"
        data-ce-uid="{data.uid}"
        {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{data.header}">
        <figcaption class="mai-codeblock__caption">{data.header}</figcaption>
    </f:if>
    <pre class="mai-codeblock__pre"><code class="mai-codeblock__code{f:if(condition: data.tx_maitheme_language, then: ' language-{data.tx_maitheme_language}')}">{data.bodytext -> f:format.htmlspecialchars()}</code></pre>
</figure>
</html>
