<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<f:variable name="bodytext" value="{record -> f:render.text(field: 'bodytext')}" />
<section class="mai-datalist"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{header}">
        <theme:atom.heading level="{data.header_layout}" text="{header}" class="mai-datalist__title"/>
    </f:if>
    <f:if condition="{bodytext}">
        <dl class="mai-datalist__list">{bodytext -> f:format.raw()}</dl>
    </f:if>
</section>
</html>
