<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<f:variable name="bodytext" value="{record -> f:render.text(field: 'bodytext')}" />
<article class="mai-featurebox{f:if(condition: data.tx_maitheme_accent, then: ' mai-featurebox--gold')}"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{data.tx_maitheme_icon_identifier}">
        <div class="mai-featurebox__badge" aria-hidden="true">
            <span class="mai-icon__glyph" data-icon="{data.tx_maitheme_icon_identifier}"></span>
        </div>
    </f:if>
    <div class="mai-featurebox__content">
        <f:if condition="{header}">
            <f:render partial="Atom/Heading" arguments="{level: data.header_layout, text: header, class: 'mai-featurebox__title'}"/>
        </f:if>
        <f:if condition="{subheader}">
            <p class="mai-featurebox__subtitle">{subheader}</p>
        </f:if>
        <f:if condition="{bodytext}">
            <div class="mai-featurebox__body">{bodytext}</div>
        </f:if>
        <f:if condition="{data.tx_maitheme_link}">
            <f:link.typolink parameter="{data.tx_maitheme_link}" class="mai-featurebox__link button{f:if(condition: data.tx_maitheme_accent, then: ' button-secondary')}">
                {f:if(condition: data.tx_maitheme_link_text, then: data.tx_maitheme_link_text, else: 'Mehr erfahren')}
            </f:link.typolink>
        </f:if>
    </div>
</article>
</html>
