<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<section class="mai-gallery"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{header}">
        <f:render partial="Atom/Heading" arguments="{level: data.header_layout, text: header, class: 'mai-gallery__title'}"/>
    </f:if>
    <f:if condition="{assets}">
        <ul class="mai-gallery__grid">
            <f:for each="{assets}" as="file">
                <li class="mai-gallery__item">
                    <a class="mai-gallery__link"
                       href="{file.publicUrl}"
                       data-lightbox="gallery-{data.uid}"
                       aria-label="{file.properties.alternative -> f:if(condition: '{0}', then: '{0}', else: file.name)}">
                        <f:image image="{file}"
                                 alt="{file.properties.alternative}"
                                 class="mai-gallery__img"
                                 loading="lazy"/>
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</section>
</html>
