<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mai="http://typo3.org/ns/Maispace/MaiAssets/ViewHelpers"
      data-namespace-typo3-fluid="true">
<section class="hero full-width"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <div class="hero__inner">

        <div class="hero__content">
            <f:if condition="{data.tx_maitheme_eyebrow}">
                <p class="eyebrow">{data.tx_maitheme_eyebrow}</p>
            </f:if>

            <f:if condition="{data.header}">
                <h1 class="hero__title">{data.header}</h1>
            </f:if>

            <f:if condition="{data.bodytext}">
                <div class="hero__body">{data.bodytext -> f:format.html()}</div>
            </f:if>

            <f:if condition="{data.tx_maitheme_link}">
                <div class="hero__actions">
                    <f:link.typolink parameter="{data.tx_maitheme_link}" class="button">
                        {f:if(condition: data.tx_maitheme_link_text, then: data.tx_maitheme_link_text, else: 'Mehr erfahren')}
                    </f:link.typolink>
                    <f:if condition="{data.tx_maitheme_link_secondary}">
                        <f:link.typolink parameter="{data.tx_maitheme_link_secondary}" class="button button-secondary">
                            {f:if(condition: data.tx_maitheme_link_secondary_text, then: data.tx_maitheme_link_secondary_text, else: 'Jetzt mithelfen')}
                        </f:link.typolink>
                    </f:if>
                </div>
            </f:if>
        </div>

        <f:if condition="{assets.0}">
            <div class="hero__logo-frame">
                <mai:image.picture image="{assets.0}"
                                   alt="{assets.0.properties.alternative -> f:if(condition: '{0}', then: '{0}', else: 'BGM Pulheim')}"
                                   elementUid="{data.uid}"
                                   width="1600"
                                   fileExtension="jpg"
                                   critical="auto"
                                   class="hero__image">
                    <mai:image.picture.source media="(max-width: 767px)"
                                             srcset="{0: 400, 1: 800}"
                                             sizes="100vw" />
                    <mai:image.picture.source media="(min-width: 768px)"
                                             srcset="{0: 1200, 1: 1600}"
                                             sizes="100vw" />
                </mai:image.picture>
                <f:if condition="{data.tx_maitheme_badge_text}">
                    <span class="hero__badge">{data.tx_maitheme_badge_text}</span>
                </f:if>
            </div>
        </f:if>

    </div>
</section>
</html>
