<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="mai-logoshowcase"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{data.header}">
        <f:render partial="Atom/Heading" arguments="{level: data.header_layout, text: data.header, class: 'mai-logoshowcase__title'}"/>
    </f:if>
    <ul class="mai-logoshowcase__grid" role="list">
        <f:for each="{assets}" as="file">
            <li class="mai-logoshowcase__item">
                <f:image image="{file}"
                         alt="{file.properties.alternative}"
                         class="mai-logoshowcase__logo"
                         loading="lazy"/>
            </li>
        </f:for>
    </ul>
</section>
</html>
