<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<figure class="mai-quote"
        data-ce-uid="{data.uid}"
        {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <blockquote class="mai-quote__blockquote">
        <f:if condition="{data.bodytext}">
            <p class="mai-quote__text">{data.bodytext}</p>
        </f:if>
    </blockquote>
    <f:if condition="{data.header}">
        <figcaption class="mai-quote__caption">
            <span class="mai-quote__author">{data.header}</span>
            <f:if condition="{data.subheader}">
                <span class="mai-quote__role">{data.subheader}</span>
            </f:if>
        </figcaption>
    </f:if>
</figure>
</html>
