<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<section class="mai-rating"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{header}">
        <p class="mai-rating__label">{header}</p>
    </f:if>
    <div class="mai-rating__stars"
         role="img"
         aria-label="{data.tx_maitheme_rating_value} von {f:if(condition: data.tx_maitheme_rating_max, then: data.tx_maitheme_rating_max, else: 5)} Sternen"
         style="--rating: {data.tx_maitheme_rating_value}; --rating-max: {f:if(condition: data.tx_maitheme_rating_max, then: data.tx_maitheme_rating_max, else: 5)}">
        <span class="mai-rating__fill"></span>
    </div>
    <p class="mai-rating__value">{data.tx_maitheme_rating_value} / {f:if(condition: data.tx_maitheme_rating_max, then: data.tx_maitheme_rating_max, else: 5)}</p>
</section>
</html>
