<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<article class="mai-richtext" data-ce-uid="{data.uid}"{f:if(condition: data.tx_maitheme_anchor_id, then: ' id="{data.tx_maitheme_anchor_id}"', else: ' id="c{data.uid}"')}>
    <f:if condition="{data.header}">
        <f:render partial="Atom/Heading"
                  arguments="{level: data.header_layout, text: data.header, class: 'mai-richtext__title'}"/>
    </f:if>
    <f:if condition="{data.subheader}">
        <p class="mai-richtext__subheader">{data.subheader}</p>
    </f:if>
    <f:if condition="{data.bodytext}">
        <div class="mai-richtext__body">{data.bodytext -> f:format.html()}</div>
    </f:if>
</article>
</html>
