<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<section class="mai-section mai-section--3col" data-ce-uid="{data.uid}"{f:if(condition: data.tx_maitheme_anchor_id, then: ' id="{data.tx_maitheme_anchor_id}"', else: ' id="c{data.uid}"')}>
    <div class="mai-section__inner">
        <div class="mai-section__col">
            <f:mark.contentArea colPos="230" txContainerParent="{data.uid}">
                <f:for each="{children_230}" as="child">{child.renderedContent -> f:format.raw()}</f:for>
            </f:mark.contentArea>
        </div>
        <div class="mai-section__col">
            <f:mark.contentArea colPos="231" txContainerParent="{data.uid}">
                <f:for each="{children_231}" as="child">{child.renderedContent -> f:format.raw()}</f:for>
            </f:mark.contentArea>
        </div>
        <div class="mai-section__col">
            <f:mark.contentArea colPos="232" txContainerParent="{data.uid}">
                <f:for each="{children_232}" as="child">{child.renderedContent -> f:format.raw()}</f:for>
            </f:mark.contentArea>
        </div>
    </div>
</section>
</html>
