<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:b13="http://typo3.org/ns/B13/Container/ViewHelpers"
      data-namespace-typo3-fluid="true">
<section class="mai-section mai-section--{data.tx_maitheme_section_variant}"{f:if(condition: data.tx_maitheme_anchor, then: ' id="{data.tx_maitheme_anchor}"')}>
    <div class="mai-section__inner">
        <div class="mai-columns mai-columns--{data.tx_maitheme_columns}">
            <f:for each="{0:101, 1:102, 2:103, 3:104}" as="colPos" iteration="it">
                <f:if condition="{it.index} < {data.tx_maitheme_columns}">
                    <div class="mai-columns__col"><b13:container.renderChildren colPos="{colPos}"/></div>
                </f:if>
            </f:for>
        </div>
    </div>
</section>
</html>
