<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<div class="mai-spacer mai-spacer--top-{f:if(condition: data.tx_maitheme_padding_top, then: data.tx_maitheme_padding_top, else: 'md')} mai-spacer--bottom-{f:if(condition: data.tx_maitheme_padding_bottom, then: data.tx_maitheme_padding_bottom, else: 'md')}"
     data-ce-uid="{data.uid}"
     {f:if(condition: data.tx_maitheme_anchor_id, then: ' id="{data.tx_maitheme_anchor_id}"', else: ' id="c{data.uid}"')}
     aria-hidden="true"></div>
</html>
