<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<section class="mai-statistic"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <div class="mai-statistic__number">
        <span class="mai-statistic__value">{data.tx_maitheme_value}</span>
        <f:if condition="{data.tx_maitheme_unit}">
            <span class="mai-statistic__unit">{data.tx_maitheme_unit}</span>
        </f:if>
    </div>
    <f:if condition="{header}">
        <p class="mai-statistic__label">{header}</p>
    </f:if>
    <f:if condition="{subheader}">
        <p class="mai-statistic__description">{subheader}</p>
    </f:if>
</section>
</html>
