<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="subheader" value="{record -> f:render.text(field: 'subheader')}" />
<f:variable name="bodytext" value="{record -> f:render.text(field: 'bodytext')}" />
<article class="mai-teaser"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <f:if condition="{assets}">
        <div class="mai-teaser__media">
            <f:image image="{assets.0}"
                     alt="{assets.0.properties.alternative}"
                     class="mai-teaser__image"
                     loading="lazy"/>
        </div>
    </f:if>
    <div class="mai-teaser__content">
        <f:if condition="{header}">
            <h3 class="mai-teaser__title">{header}</h3>
        </f:if>
        <f:if condition="{subheader}">
            <p class="mai-teaser__subtitle">{subheader}</p>
        </f:if>
        <f:if condition="{bodytext}">
            <div class="mai-teaser__body">{bodytext}</div>
        </f:if>
        <f:if condition="{data.tx_maitheme_link}">
            <f:link.typolink parameter="{data.tx_maitheme_link}" class="mai-teaser__link">
                {f:if(condition: data.tx_maitheme_link_text, then: data.tx_maitheme_link_text, else: 'Mehr erfahren')}
            </f:link.typolink>
        </f:if>
    </div>
</article>
</html>
