<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:theme="http://typo3.org/ns/Maispace/MaiTheme/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:variable name="header" value="{record -> f:render.text(field: 'header')}" />
<f:variable name="bodytext" value="{record -> f:render.text(field: 'bodytext')}" />
<f:variable name="mediaImage" value="{image.0}" />
<section class="mai-textmedia-wrapper"
         data-ce-uid="{data.uid}"
         {f:if(condition: data.tx_maitheme_anchor_id, then: 'id="{data.tx_maitheme_anchor_id}"', else: 'id="c{data.uid}"')}>
    <theme:molecule.mediaText title="{header}" text="{bodytext}" image="{mediaImage}" mediaPosition="{data.imageorient}"/>
</section>
</html>
