<fc:component>
    <fc:param name="title" type="string"/>
    <fc:param name="text" type="string" optional="1" default=""/>
    <fc:param name="image" type="object" optional="1" default="{f:variable(value: 0)}"/>
    <fc:param name="href" type="string" optional="1" default=""/>

    <fc:renderer>
        <article class="mai-card">
            <f:if condition="{image}">
                <theme:atom.image image="{image}" alt="{title}"/>
            </f:if>
            <theme:atom.heading level="3" text="{title}"/>
            <f:if condition="{text}"><p class="mai-card__text">{text -> f:format.raw()}</p></f:if>
            <f:if condition="{href}">
                <theme:atom.button href="{href}" label="Mehr erfahren" variant="secondary"/>
            </f:if>
        </article>
    </fc:renderer>
</fc:component>
