<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="mai-media-text mai-media-text--{mediaPosition}">
    <f:if condition="{image}">
        <div class="mai-media-text__media">
            <f:render partial="Atom/Image" arguments="{image: image, alt: title}"/>
        </div>
    </f:if>
    <div class="mai-media-text__body">
        <f:if condition="{title}">
            <f:render partial="Atom/Heading" arguments="{level: 2, text: title}"/>
        </f:if>
        <f:if condition="{text}">{text -> f:format.html()}</f:if>
    </div>
</div>
</html>
